:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-verde-escuro: #034e07;
    --cor-de-fundo: #00030C;
    --botao-verde-medio: #07a00f;
    --fonte-verde: #034e07;



}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(principal.jpg);
    background-repeat: no-repeat;


}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.container__botao{
    background-color: var(--botao-verde-escuro);
    border-radius: 10px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
}
.botao_secundario{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--branco-principal);

}
.titulo{
    text-align: center;
    color: var(--fonte-verde);
}
.container__botao-1{
    background-color: var(--botao-verde-medio);
    border-radius: 10px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-align: center;
}
